$def with (content)

<html>
	<head>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.6.3.min.js"></script>
		<script type="text/javascript" src="/static/jquery.tablesorter.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/fantasy.css">
		<link rel="icon" href="/static/swimswam.png">

		<title>Fantasy Swimming</title>
		<meta name="description"
			  content="The swimulator allows you to simulate potential collegiate swim meets as well as providing other statistics about college swimming.">
	</head>

	<body>
		<div class="header">
			<ul class="bannerList">
				<li value=1 ><a href="/">Home</a></li>
				<li value=2 ><a href="/myteams">My Teams</a> </li>
				<li value=2 ><a href="/roster">My Roster</a> </li>
				<li value=4 ><a href="/matchup">Matchup</a></li>
				<li value=3 ><a href="/swimmers">Swimmers</a></li>
				<li value=4 ><a href="/standings">Standings</a></li>
				<li value=4 ><a href="/join">Create/Join League</a></li>
				<li value=4 ><a href="/logout">Logout</a></li>
			</ul>
		</div>

		<div class="content">
			<div class="innerContent">
				$:content
			</div>
		</div>
	</div>

	</body>
</html>