$def with(events)

<h1>
	Age/Time Converter
</h1>

<p>
	Convert times from age group to an equivalently ranked time for another age group.
</p>

<form method="GET" id="convert">
	<select name="event">
		$for event in events:
			<option> $event </option>
	</select>
	<br>

	<select name="fromcourse">
		<option> LCM </option>
		<option> SCY </option>
	</select>

	<select name="fromage">
		<option>From age</option>
		$for i in range(8, 19)
			<option> $i </option>
	</select>
	<select name="toage">
		<option>To age</option>
		$for i in range(8, 19)
			<option> $i </option>
	</select>
	<br>

	<input name="min" type="text" value="0" size="2" maxlength="2"/>:
	<input name="sec" type="text" value="00" size="2" maxlength="2"/>.
	<input name="hun" type="text" value="00" size="2" maxlength="2"/>
	<br>

	<input id="table" type="submit" name="submit" value="Table">
	<input id="Calc" type="submit" name="submit" value="Calculate">
</form>

<table id="resultstable"></table>
<h3 id="results"></h3>