$def with(events, points, table)

<h1>
	Age Group Powerscore Calculator
</h1>

<p>
The powerscore calculator assigns each swimming time a score based on its strength within a given gender, event, and
	age. Click on "Table" to get a table of times/values. The median time will score approximately 350
	points; national records are usually around 950 points.
</p>

<script type="text/javascript">
\$(document).ready(function() {
	\$('[type="submit"]').click(function (evt) {
    	\$(this.form).data('submitted', this.value);
	});
});
</script>

<form method="GET" class="ajax" name="powerscore">
	<select name="event">
		$for event in events:
			<option> $event </option>
	</select>
	<select name="course">
		<option> LCM </option>
		<option> SCY </option>
		<option> SCM </option>
	</select>
	Age: <input name="age" type="number" value="8" size="2" maxlength="2"/> <br>
	<input name="min" type="text" value="0" size="2" maxlength="2"/>:
	<input name="sec" type="text" value="00" size="2" maxlength="2"/>.
	<input name="hun" type="text" value="00" size="2" maxlength="2"/>

	<!--<input id="Calc" type="submit" name="test" value="Calculate">-->
	<input id="table" type="submit" name="submit" value="Table">
	<input id="Calc" type="submit" name="submit" value="Calculate">
</form>

<div id="results">

$if points:
	Points: $points

$if table:
	$:table

</div>