$def with (conferences,scores,teamScores,finalScores,table,winTable)
<h1>
Taper Meet
</h1>
<p>
Simulate a conference or national swim meet using either a swimmer's top times or their median times.
</p>

<script type="text/javascript">
	/* This loads up the cool chart with google's API into the 'chart' div
	google.load("visualization", "1", {packages:["treemap"]});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
       	var data = google.visualization.arrayToDataTable([
       	$for line in table:
       		$:line
       	]);
       	tree = new google.visualization.TreeMap(document.getElementById('chart'));

		var options = {
       		minColor: '#f00',
       		midColor: '#ddd',
       		maxColor: '#0d0',
       		headerHeight: 15,
      		fontColor: 'black',
       		showScale: false,
       		generateTooltip: showFullTooltip
       	};

       	tree.draw(data, options);

		function showFullTooltip(row, size, value) {
    		return '<div>' + 'Score: ' + data.getValue(row, 2) + ' </div>';
  		};
    }
    */
</script>

<form id="confForm" name=confForm class="ajax">
	<p>
		<label>Conference:</label>
		<select name="conference">
		<option>Nationals</option>
		$for name in conferences:
			<option>$name</option>
	</select>
	</p>

	<p>
		<label>Season:</label>
		<select name="season">
		$for season in [2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011]:
			<option>$season</option>
		</select>
	</p>

	<p>
	<label>Time Selection:</label>
	<select name="taper">
		<option>Top Time</option>
		<option>Average Time</option>
		<option>Taper</option>
	</select>
	</p>

	<p>
		<label>As of date:</label>
		<select name="date">
		<option>Whole Season</option>
		$for month in ['10', '11', '12', '1', '2', '3']:
			$ days = 31
			$ if month=='11':days = 30
			$ if month=='1':days = 29
			$for day in range(1, days+1):
				<option>$month/$day</option>
		</select>
	</p>
	<p>
	<label>Scores:</label>
	<select name="heats">
		<option>16</option>
		<option>24</option>
	</select>
	</p>
	<p>
		<label>Max team size:</label>
		<select name="size">
			$for size in range(10, 30):
				$if size==17:
					<option selected="selected">$size</option>
				$else:
					<option>$size</option>
		</select>
	</p>

	<input type="submit" value="Swimulate">
	<div id="loading"></div>
</form>

<!--<div id="exactProb">
	<ul>
		<li id="exact">Exact Scores</li>
		<li id="prob">Estimated Scores</li>
	</ul>
</div>-->

<div id="results">
$if scores and False:
	<div id="chart" style="width: 1000px; height: 400px; float:none; margin-left: auto; margin-right: auto;"></div>

<div id="scoreTable" class="scores">
$if scores:
	$:scores
</div>

<div id="report" class="scores">
$if teamScores:
	$:teamScores
</div>

<div id="finalScores" class="scores">
$if finalScores:
	$:finalScores
</div>

<div id="estResults">
	<h3>Placing Probabilities</h3>
	We estimate the probabilities that each team will finish in a certain spot by simulating the meet 100 times and
	giving each swim a 2% variation. A 10% chance of first place means that the team finished first in 10% of the
	simulated meets.
	$:winTable
</div>
</div>