$def with (conferences,scores,teamScores)
<h1>
Conference Meets (4% flat taper)
</h1>

<style>
#scoreTable {
	float:left;
	size:1500px;
}
#report {
	float:left;
	size:1000px;
	padding-left:20px
}
</style>

<form name=confForm action="/conference" method="GET">
	Conference: <select type="text" name="conference">
		<option>Nationals</option>
		$for name in conferences:
			<option>$name</option>
	<input type="submit" value="Swimulate">
</form>

<div id="scoreTable">
$if scores:
	$:scores
</div>
	
$if teamScores:
	<div id="report">
		<h2 align="center">	Score Report </h2>
		<table>
		$for team in teamScores:
			<tr> <th>$team</th> </tr>
			$for name in teamScores[team]:
				$if name[1]!=0:
					<tr>
					<td>$name[0]</td> <td>$name[1]</td>
					</tr>
		</table>
	</div>