$def with (conferences,scores,teamScores,finalScores,table)
<h1>
Taper Meet
</h1>
<p>
Simulate a conference or national swim meet using either a swimmer's top times or their median times.
</p>

<script type="text/javascript">
	/* This loads up the cool chart with google's API into the 'chart' div
	google.load("visualization", "1", {packages:["treemap"]});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
       	var data = google.visualization.arrayToDataTable([
       	$for line in table:
       		$:line
       	]);
       	tree = new google.visualization.TreeMap(document.getElementById('chart'));

		var options = {
       		minColor: '#f00',
       		midColor: '#ddd',
       		maxColor: '#0d0',
       		headerHeight: 15,
      		fontColor: 'black',
       		showScale: false,
       		generateTooltip: showFullTooltip
       	};

       	tree.draw(data, options);

		function showFullTooltip(row, size, value) {
    		return '<div>' + 'Score: ' + data.getValue(row, 2) + ' </div>';
  		};
    }
    */
</script>

<form id="confForm" name=confForm class="ajax">
	<p>
		<label>Conference:</label>
		<select name="conference">
		<option>Nationals</option>
		$for name in conferences:
			<option>$name</option>
	</select>
	</p>

	<p>
		<label>Season:</label>
		<select name="season">
		$for season in [2016, 2015, 2014, 2013, 2012, 2011]:
			<option>$season</option>
		</select>
	</p>

	<p>
	<label>Time Selection:</label>
	<select name="taper">
		<option>Top Time</option>
		<option>Median Time</option>
	</select>
	</p>

	<p>
		<label>As of date:</label>
		<select name="date">
		<option>Whole Season</option>
		$for month in ['10', '11', '12', '1', '2', '3']:
			$ days = 31
			$ if month=='11':days = 30
			$ if month=='1':days = 29
			$for day in range(1, days+1):
				<option>$month/$day</option>
		</select>
	</p>

	<input type="submit" value="Swimulate">
	<div id="loading"></div>
</form>

<div id="results">
$if scores and False:
	<div id="chart" style="width: 1000px; height: 400px; float:none; margin-left: auto; margin-right: auto;"></div>

<div id="scoreTable">
$if scores:
	$:scores
</div>

<div id="report">
$if teamScores:
	$:teamScores
</div>

<div id="finalScores">
$if finalScores:
	$:finalScores
</div>
</div>