$def with ()

<h1>
Welcome!
</h1>
<p>
Welcome to the swimulator! Here you can simulate all types of collegiate swimming competitions using data going back
to 2012, more coming soon.
</p>
<p>
Select a year, gender, and division and navigate to various swimming simulations using the top toolbar. Head
to "conferences" if you wish to simulate conference and national swim meets. Go to "head to head" to simulate dual
meets using past meet lineups and results or let the swimulator optimize your lineups. Top times gives the top times
	done during a given
season. Placing calculates how well certain times would place in a given conference. Programs allows you to compare
the strength of all swim programs.
</p>
<p>
Site maintained by Kevin Hallman. Feel free to send questions or comments his way at <a
	href="mailto:hallmankevin@gmail.com"> hallmankevin@gmail.com </a>
</p>