$def with (conferences,table)

$if table:
	<script>
		google.load("visualization", "1", {packages:["corechart"]});
		google.setOnLoadCallback(drawChart);
  		function drawChart() {
			var data = google.visualization.arrayToDataTable([
				$for line in table:
					$:line
			// Treat first row as data as well.
			], true);
			data.setColumnProperty(5, 'role', 'tooltip');

			var options = {
				legend:'none',
				'chartArea': {'width': '90%', 'height': '80%'}
			};

			var chart = new google.visualization.CandlestickChart(document.getElementById('chart'));

			chart.draw(data, options);
		}
	</script>

<h1>
Team Improvement
</h1>
See how teams in a conference improved their upperclassmen swimmers, top taper time to top taper time. Hover for median percent improvement (positive means you got faster).
<form name=confForm method="GET">
	Conference: <select name="conference">
		<option>All</option>
		$for name in conferences:
			<option>$name</option>
	</select>
	<br>
	Year: <select name="season">
	$for year in [2016, 2015, 2014, 2013, 'High School', 'All']:
		<option>$year</option>
	</select>
	<input type="submit" value="Calculate">
</form>

<div id="chart" style="width: 1300px; height: 500px; float:none; margin-left: auto; margin-right: auto;"> </div>