$def with (scores,fail)

<style>
table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
    padding-right: 10px;
    padding-left: 10px;
}
</style>


<h1 align=center>
Simulated Results
</h1>
$if fail:
	$fail
$else:
	<table>
	$for event in scores:
		$if event == 'scores': $continue
		<tr>
		<th> $event </th>
		</tr>
		$for swim in scores[event]:
			<tr>
			$for part in swim:
				<td>$part</td>
			</tr>
	</table>
	</br>
	<table>
	<tr>
	<th>Final Scores</th>
	</tr>
	$for swim in scores['scores']:
		<tr>
		$for part in swim:
			<td>$part</td>
		</tr>
	</table>
	