$def with(conferences, rankings)

<style>
input[type=text] {
	width:24px;
	border-radius: none;
	border: solid 1px #dcdcdc;
	margin: 0;
}

#container {
	margin-bottom: 10px;
	margin-right: 10px:
	float: left;
	border: 1px;
	width: 20%
}

#rankingTable {
	width: 100%
}
</style>
<script>
	\$(document).ready(function()
    {
        \$("#programs").tablesorter();
    }
);
</script>
<h1>
Program Rankings
</h1>

<p>
Programs, updated now for 2017, are ranked on their overall team strength, attrition rate, and swimmer improvement. A
	small attrition rate, a high strength rating, and a high positive swimmer improvement percentage are good. A
	program's ranking in all three is combined to find their overall rank.
	<br>
	<br>
	<b>Attrition</b> is the percentage of non-seniors who do not return to swim the following year to that same program
	across the 2011-2017 timeframe.
	<br>
	<b>Improvement</b> is the average percentage change in times in a swimmer's top three events from one year to the
	next.
	<br>
	<b>Strength</b> is the team's overall strength in 2017.
</p>


<form name=confForm method="GET" class="ajax">
	Conference: <select name="conference">
		<option>All</option>
		$for name in conferences:
			<option>$name</option>
	</select>
	<br>
	<input type="submit" value="Rate Programs">
	<div id="loading"></div>
</form>

<div id="results">
$if rankings:
	$:rankings
</div>