$def with (conferences, table, bar)

$if table:
	<script type="text/javascript">
    $if bar:
    	google.load('visualization', '1.1', {packages: ['bar']});
    $else:
    	google.load('visualization', '1.1', {packages: ['line']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
		var data = google.visualization.arrayToDataTable([
			$for line in table:
				$:line
		]);

		var options = {
			chart: {
				title: 'Projected team score',
        	},
        	$if bar:
        		legend: { position: 'none' },
			width: 1200,
			height: 700,
			displayExactValues: true
		};

		$if bar:
			var chart = new google.charts.Bar(document.getElementById('chart'));
		$else:
			var chart = new google.charts.Line(document.getElementById('chart'));

		chart.draw(data, options);
	}
  </script>

<script>
	\$(document).ready(function() {
		var url = \$(location).attr('href');
    	\$('input[type=radio]').change(function() {
    		json = {conference: \$('conference').value, dual:\$('dual').value, \$('season').value}
				jQuery.ajax({
        			type: "POST",
        			async: true,
        			url: 'home',
        			data:  json,
        			success: reload,
        			error: reload
    			});
    		});
		});

		function reload() {
			var url = \$(location).attr('href');
           	\$('body').load(url.split("?")[0]);
		}
</script>

<h1>
Team Rankings
</h1>
See how strong a team is compared to other teams in its division. Projected scores are based off the expected placing
of a team's top times.
<form name=confForm method="GET">
	Conference: <select name="conference">
		$for name in conferences:
			<option>$name</option>
	</select>
	<br>
	Year: <select name="season">
	$for year in [2017, 2016, 2015, 2014, 2013, 2012, 'All']:
		<option>$year</option>
	</select>
	<br>
	Scoring method: <select name="dual">
		<option>Invite</option>
		<option>Dual</option>
	</select>
	<input type="submit" value="Show">
</form>

<div id="chart" style="width: 1300px; height: 500px; float:center; margin-left: auto; margin-right: auto;"> </div>