$def with (teamMeets,scores,fail,team1,team2,teamScores,finalScores)

<h1>Choose who to swim! (D3 Men Only)</h1>

<script type="text/javascript">
	var dict = new Object()
	$for team in teamMeets:
		dict["$team"]=[]
		$for meet in teamMeets[team]:
			dict["$team"].push("$:meet")
			
	function getMeets (form,name) {
		if (name == "team1") {
			var team1 = form.team1.value;
			var meet1list = form.meet1;
			meet1list.innerHTML = "";
			meet1list.options[0]= new Option("Create Lineup","Create Lineup");
			for (i in dict[team1]) {
				var option = document.createElement("option");
				option.text = dict[team1][i];
				option.value = dict[team1][i];
				meet1list.appendChild(option);
			}
		}
		
		if (name == "team2") {
			var team2 = form.team2.value;
			var meet2list = form.meet2;
			meet2list.innerHTML = "";
			meet2list.options[0]= new Option("Create Lineup","Create Lineup");
			for (i in dict[team2]) {
				var option = document.createElement("option");
				option.text = dict[team2][i];
				option.value = dict[team2][i];
				meet2list.appendChild(option);
			}
		}
}
</script>
$ teams = teamMeets.keys()
$ teams.sort()
<form name=form1 action="/swimulate" method="GET">
	Team: <select type="text" name="team1" onchange="getMeets(this.form,this.name)">
		<option></option>
		$for name in teams:
			$if name==team1: <option selected="selected">$name</option>
			$else: <option>$name</option>
	</select>
	</br>
	Meet: <select type="text" name="meet1"></select>	</br>
	</br>
	Team: <select type="text" name="team2" onchange="getMeets(this.form,this.name)"> 
		<option></option>
		$for name in teams:
			$if name==team2: <option selected="selected">$name</option>
			$else: <option>$name</option>
	</select>
	</br>
	Meet: <select type="text" name="meet2"></select>	</br>
	<p><input type="submit" value="Swimulate"></p>
</form>


<div id="scoreTable">
$if fail:
	$if fail !=True:$fail
$else:
	$:scores
</div>

<div id="report">
$if teamScores:
	$:teamScores
</div>

<div id="finalScores">
$if finalScores:
	$:finalScores
</div>