$def with (divTeams,scores,teamScores,finalScores)

<h1>Head to Head Competition</h1>

<script type="text/javascript">
	var divTeams = new Object();
	$for division in divTeams:
		divTeams["$division"] = [];
		$for team in divTeams[division]:
			divTeams["$division"].push("$:team");

	currentDiv = "$(context.division)";
	currentSeason = "2016";
	numTeams = 2;

	function add() {
		numTeams += 1;
		var swim = $$("#swim")

		// add the divisions
		var html = 'Team: <select name=division' + String(numTeams) + ' onchange="getTeams(this)">';
		for (division in divTeams) {
			if (currentDiv == division) {
				html += '<option selected>' + division + '</option>';
			}
			else {
				html += '<option>' + division + '</option>';
			}
		}
		html += '</select>';

		// add the teams
		html += '<select name=team' + String(numTeams) + ' onchange="getSeasons(this)">';
		html += '<option></option>';
		for (var i in divTeams[currentDiv]) {
			html += '<option>' + divTeams[currentDiv][i] + '</option>';
		}
		html += '</select>';

		swim.before(html);

		html = '<br>Meet: ';
		html += '<select name=season' + String(numTeams) + ' class="seasons" onchange="meets(this)">' +
		'<option></option> </select>';
		html += '<select name=meet' + String(numTeams) + ' class="meets">' + '<option></option> </select> <br>';
		swim.before(html);
		getSeasons($$("select[name=season" + numTeams + "]"));
	}

	function getTeams(select) {
		div = select.value;
		num = select.name.slice(-1);

		$$("select[name=team" + num + "]").html('');
		$$("select[name=team" + num + "]").append($$('<option>'));
		for (var i in divTeams[div]) {
			$$("select[name=team" + num + "]")
				.append($$('<option>')
				.text(divTeams[div][i]));
		}

		// clear out season and meets
		$$("select[name=season" + num + "]").html('');
		$$("select[name=meet" + num + "]").html('');
	}

	function getSeasons(select) {
		team = select.value;
		num = select.name.slice(-1);
		$$.post('teamMeets', {'team': team}, function(seasonMeets) {
			$$("select[name=season" + num + "]").html('');

			$$.each(seasonMeets, function (season, meets) {
				if (currentSeason == season) {
					$$("select[name=season" + num + "]")
						.append($$('<option>')
						.attr('selected', 'selected')
						.text(season));

					// do the meets for the default
					$$("select[name=meet" + num + "]").html('');
					$$("select[name=meet" + num + "]")
						.append($$('<option>')
						.text('Create Lineup'));
					$$.each(meets, function(index, meet) {
						$$("select[name=meet" + num + "]")
							.append($$('<option>')
							.text(meet));
					});
				}
				else {
					$$("select[name=season" + num + "]")
					.append($$('<option>')
					.text(season));
				}
			});
		});
	};

	function meets(select) {
		// when the season is changed
		season = select.value
		num = select.name.slice(-1)
		team = $$("select[name=team" + num + "] option:selected").text()

		$$.post('teamMeets', {'team': team, 'season': season}, function(meets) {
			$$("select[name=meet" + num + "]").html('');
			$$("select[name=meet" + num + "]")
				.append($$('<option>')
				.text('Create Lineup'));

			$$.each(meets, function(index, meet) {
				$$("select[name=meet" + num + "]")
					.append($$('<option>')
					.text(meet));
			});
		});
	}

</script>

$ teams = divTeams[context.division]
<form id="teamForm" method="GET">
	<button type="button" onclick="add(this.form);">Add New Team</button>
	<p>
	Team: <select name="division1" onchange="getTeams(this)">
		$for division in ['D1', 'D2', 'D3']:
			$if division==context.division:
				<option selected> $division </option>
			$else:
				<option> $division </option>
	</select>

	<select name="team1" onchange="getSeasons(this)">
		<option></option>
		$for name in teams:
			<option>$:name</option>
	</select>
	</p>
	<p>
	Meet: <select name="season1" onchange="meets(this)">	</select>
	<select name="meet1">	</select>
	</p>
	<p>
	Team: <select name="division2" onchange="getTeams(this)">
		$for division in ['D1', 'D2', 'D3']:
			$if division==context.division:
				<option selected> $division </option>
			$else:
				<option> $division </option>
	</select>
	<select name="team2" onchange="getSeasons(this)">
		<option></option>
		$for name in teams:
			<option>$:name</option>
	</select>
	</p>
	<p>
	Meet: <select name="season2" onchange="meets(this)">	</select>
	<select name="meet2">	</select>
	</p>

	<input id="swim" type="submit" value="Swimulate">
</form>

<div id="scoreTable">
$if scores:
	$:scores
</div>

<div id="report">
$if teamScores:
	$:teamScores
</div>

<div id="finalScores">
$if finalScores:
	$:finalScores
</div>