$def with(team, inviteStr, attrition, imp, winConf, winNats, topSwimmers, conf, medTaper)

<h1>
$team | $conf Stats
</h1>
<form name=season method="GET">
	<label>Season:</label>
	<select name="season">
		$for season in [2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011]:
			<option>$season</option>
	</select>
	<input type="submit" value="Submit">
</form>

<p>
	<b>Invite Strength:</b> $inviteStr
	<br>
	<b>Conference Win %:</b> $winConf
	<br>
	<b>Nationals Win %:</b> $winNats
	<br>
	<b>Attrition %:</b> $attrition
	<br>
	<b>Swimmer Improvement %:</b> $imp
	<br>
	<b>Taper %:</b> $medTaper
	<br>
</p>

$:topSwimmers