$def with(events)

<h1>
	Time Converter
</h1>

<p>
	Find swimming times in one course that are equivalently fast in another.
</p>

<form method="GET" id="convert">
	<select name="event">
		<option>Event</option>
		$for event in events:
			<option> $event </option>
	</select>
	<br>

	<select name="fromcourse">
		<option> From Course </option>
		<option> LCM </option>
		<option> SCM </option>
		<option> SCY </option>
	</select>

	<select name="tocourse">
		<option> To Course </option>
		<option> LCM </option>
		<option> SCM </option>
		<option> SCY </option>
	</select>
	<br>

	Age:
	<select name="fromage">
		$for i in range(8, 23)
			<option> $i </option>
		<option>Open</option>
	</select>
	<br>

	<input name="min" type="text" value="0" size="2" maxlength="2"/>:
	<input name="sec" type="text" value="00" size="2" maxlength="2"/>.
	<input name="hun" type="text" value="00" size="2" maxlength="2"/>
	<br>

	<input id="table" type="submit" name="submit" value="Table">
	<input id="Calc" type="submit" name="submit" value="Calculate">
</form>

<table id="resultstable"></table>
<h3 id="results"></h3>